<!-- login.component.html -->
<div class="min-h-screen flex items-center justify-center">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
        class="space-y-4 max-w-md w-full bg-white p-6 rounded-lg shadow-2xl">

    <!-- Email -->
    <input type="email" placeholder="E-mail" formControlName="email"
           class="w-full p-2 border rounded-b-2xl">
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
         class="text-red-500 text-sm">
      El email es obligatorio y debe ser válido.
    </div>

    <!-- Password -->
    <input type="password" placeholder="Password" formControlName="password"
           class="w-full p-2 border rounded-b-2xl">
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
         class="text-red-500 text-sm">
      El password es obligatorio y mínimo 8 caracteres.
    </div>

    <!-- Botón Login -->
    <div class="w-full p-2 border rounded-4xl bg-amber-400 hover:bg-amber-500 text-center">
      <button type="submit">Ingresar</button>
    </div>

    <!-- Mensaje de éxito -->
    <div *ngIf="formEnviado" class="text-green-600 text-center mb-4">
      ✔ Ingreso correcto
    </div>

    <!-- Enlace a recuperación de contraseña -->
    <div class="text-center">
      <a routerLink="/forgot-password" class="text-blue-600 text-sm">¿Olvidaste tu contraseña?</a>
    </div>

  </form>

</div>
